<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">DemoWebApplicationWithAngular</a>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['/students']">Students</a>
          </li>
          <li class="nav-item">
            <a *ngIf="!authService.isLoggedIn" class="nav-link text-dark" [routerLink]="['/login']">Login</a>
            <a  *ngIf="authService.isLoggedIn" class="nav-link text-dark" [routerLink]="" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>