<form class="login-form">
    <mat-card>
        <div>
            <mat-form-field>
                <input matInput [(ngModel)]="email" name="email" placeholder="email" required />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Password" type=" password" name="password" required>
            </mat-form-field>
        </div>
        <mat-card-actions>
            <button type="submit" mat-raised-button (click)="login()">Login</button>
        </mat-card-actions>
    </mat-card>
    <a [routerLink]="['/signup']">New User? Sign Up</a>
</form>